/*
Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1139px) {

	.site-inner,
	.wrap {
		max-width: 960px;
	}

	.content,
	.site-header .widget-area {
		width: 620px;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.sidebar {
		width: 300px;
	}

	.footer-widgets-1 {
		margin-right: 30px;
	}

	.split-sidebar-left,
	.split-sidebar-right {
		width: 100%;
	}

}