/*
Common Classes
---------------------------------------------------------------------------------------------------- */

/* Genesis
--------------------------------------------- */

.breadcrumb {
	border-bottom: 1px dotted #ddd;
	color: #999;
	font-size: 16px;
	margin-bottom: 60px;
	padding-bottom: 10px;
}

.archive-description,
.author-box {
	border-bottom: 1px dotted #ddd;
	border-top: 1px dotted #ddd;
	margin-bottom: 60px;
	padding: 40px 0;
}

.author-box-title {
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	margin-bottom: 4px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}

/* Search Form
--------------------------------------------- */

.search-form {
	overflow: hidden;
}

.entry-content .search-form {
	width: 50%;
}

.site-header .search-form {
	float: right;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* Titles
--------------------------------------------- */

.entry-title a,
.widget .widget-title a {
	color: #333;
}

.entry-title a:hover {
	color: #666;
}

.widget-title {
	font-size: 16px;
	line-height: 1;
	margin-bottom: 24px;
	text-align: center;
	text-transform: uppercase;
}

.header-widget-area .widget-title {
	text-align: left;
}

.entry-title,
.welcome-message .widget-title {
	font-size: 30px;
	font-weight: 400;
}

.after-entry .widget-title {
	font-size: 24px;
}

.archive-title {
	font-size: 20px;
	margin-bottom: 24px;
}

/* WordPress
--------------------------------------------- */

.avatar {
	float: left;
}

.author-box .avatar {
	height: 80px;
	margin-right: 30px;
	width: 80px;
}

.entry-comments .avatar {
	height: 50px;
	margin: 0 16px 24px 0;
	width: 50px;
}

.alignleft .avatar {
	margin-right: 24px;
}

.alignright .avatar {
	margin-left: 24px;
}

.sticky {
}

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 24px;
}

img.alignnone {
	margin-bottom: 12px;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 24px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 24px 24px;
}

a.alignnone {
    display: inline-block;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

.entry-content .wp-caption-text {
	font-size: 14px;
	font-weight: 700;
	margin: 0;
	text-align: center;
}

.gallery-caption,
.entry-content .gallery-caption {
	margin: 0 0 10px;
}

.widget_calendar table {
	width: 100%;
}

.widget_calendar td,
.widget_calendar th {
	text-align: center;
}