/*
Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	font-size: 16px;
	padding: 40px 0;
	text-align: center;
}

.site-footer a {
	color: #666;
}

.site-footer a:hover {
	color: #e5554e;
}

.site-footer p {
	margin-bottom: 0;
}